.article_loginMenu{
    justify-content: center;
    align-items: center;
    display:flex;
    min-height: 100vh;    
}

.article_loginImage{
    object-fit: cover;
    
}
.img_loginFont{
    width: 200px;
}
.facebook_logo{
    width: 30px;
}